DATABASE_URL="postgresql://user:password@localhost:5432/voxela"
PORT="8080"
NODE_ENV="development"
JWT_SECRET="your_jwt_secret"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USER="your_email@gmail.com"
EMAIL_PASS="your_gmail_app_password"
EMAIL_FROM="Voxela <noreply@voxela.com>"
FRONTEND_URL="http://localhost:5173"
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
ANON_TOKEN_SECRET="your_anon_token_secret_min_32_chars"