@import "tailwindcss";

@theme {
  --color-primary-800: #3730A3;
  --color-primary-600:#4F46E5;
  --color-primary-100: #E0E7FF;

  --color-status-planned:#2563EB;
  --color-status-completed: #059669;
  --color-status-in-progress: #F59E0B;
  --color-status-rejected: #DC2626;
  --color-status-under-review: #6B7280;

  --color-bg: #F9FAFB;
  --color-background: var(--color-bg);
  --color-card-bg: #FFFFFF;
  --color-border: #E5E7EB;
  --color-base-200: #1F2937;
  --color-base-100: #6B7280;


}

@layer base {
  :root {
      --primary-800: var(--color-primary-800);
      --primary-600: var(--color-primary-600);
      --primary-100: var(--color-primary-100);

      --status-planned: var(--color-status-planned);
      --status-completed: var(--color-status-completed);
      --status-in-progress: var(--color-status-in-progress);
      --status-rejected: var(--color-status-rejected);
      --status-under-review: var(--color-status-under-review);
      
      --background: var(--color-bg);
      --border: var(--color-border);
      --card-bg: var(--color-card-bg);
      --base-200: var(--color-base-200);
      --base-100: var(--color-base-100);
  }
}

@layer base {
  body {
    @apply bg-background text-base-200;
  }

  .btn {
    @apply px-[15px] py-[4px] rounded-full cursor-pointer capitalize transition-all hover:opacity-80 shadow-xl
  }

  .btn-primary{
    @apply bg-primary-800 text-white
  }
  .btn-success {
    @apply bg-status-completed text-white
  }
  .btn-warning {
    @apply bg-status-in-progress text-white
  }
  .btn-danger {
    @apply bg-status-rejected text-white
  }

  .card{
    @apply bg-card-bg border border-border px-[16px] py-[8px] rounded-[7px] shadow-md shadow-black/5;
  }
}
