@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-800: #3730a3;
  --color-primary-600: #4f46e5;
  --color-primary-100: #e0e7ff;

  --color-status-planned: #2563eb;
  --color-status-completed: #059669;
  --color-status-in-progress: #f59e0b;
  --color-status-rejected: #dc2626;
  --color-status-under-review: #6b7280;

  --color-bg: #f9fafb;
  --color-background: var(--color-bg);
  --color-card-bg: #ffffff;
  --color-border: #e5e7eb;
  --color-base-200: #1f2937;
  --color-base-100: #6b7280;
}

@layer base {
  :root {
    --primary-800: var(--color-primary-800);
    --primary-600: var(--color-primary-600);
    --primary-100: var(--color-primary-100);

    --status-planned: var(--color-status-planned);
    --status-completed: var(--color-status-completed);
    --status-in-progress: var(--color-status-in-progress);
    --status-rejected: var(--color-status-rejected);
    --status-under-review: var(--color-status-under-review);

    --background: var(--color-bg);
    --border: var(--color-border);
    --card-bg: var(--color-card-bg);
    --base-200: var(--color-base-200);
    --base-100: var(--color-base-100);
  }
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-background text-base-200;
  }

  .btn {
    @apply px-[15px] py-[4px] rounded-full cursor-pointer capitalize transition-all hover:opacity-80 shadow-xl;
  }

  .btn-primary {
    @apply bg-primary-800 text-white;
  }
  .btn-success {
    @apply bg-status-completed text-white;
  }
  .btn-warning {
    @apply bg-status-in-progress text-white;
  }
  .btn-danger {
    @apply bg-status-rejected text-white;
  }

  .card {
    @apply bg-card-bg border border-border px-[16px] py-[8px] rounded-[7px] shadow-md shadow-black/5;
  }
}
